<div class="cart-component" *ngIf="cartItem">
  <div class="cart-item-detail">
    <h1>{{ cartItem.name }}</h1>
    <div class="price-flex">
      <p>₹{{ cartItem.mrp * cartItem.cart.count }}</p>
      <p>₹{{ cartItem.price * cartItem.cart.count }}</p>
    </div>
    <p>
      -{{
        (((cartItem.mrp - cartItem.price) / cartItem.mrp) * 100).toFixed(0)
      }}% Discount
    </p>
    <div class="cart-function">
      <button (click)="removeItem()">-</button>
      <div class="p">
        {{ cartItem.cart.count.toString().padStart(2, "0") }}
      </div>
      <button (click)="addItem()">+</button>
    </div>
  </div>
  <div class="cart-item-image-container">
    <img src="{{ cartItem.image }}" class="cart-item-image" />
  </div>
</div>
