<div class="product-detail-container" *ngIf="product">
  <div class="product-image-container">
    <div class="product-image-bg">
      <div class="featurette-ribbon">
        {{
          product.featurette == "TS"
            ? "Top selling"
            : product.featurette == "MP"
            ? "Most Popular"
            : "Featured"
        }}
      </div>
      <div class="cat-ribbon">{{ product.category }}</div>
      <img class="product-image" src="{{ product.image }}" alt="" />
    </div>
  </div>
  <div class="product-content-container">
    <h1>{{ product.name }}</h1>
    <div id="brand-ribbon">
      <p>{{ product.brand }}</p>
    </div>
    <p class="description">{{ product.description }}</p>
    <div class="review-container">
      <label for="star1"
        ><i
          [ngStyle]="{ color: product.rating >= 2 ? '#F6B704' : '#9b9b9b' }"
          class="fa-solid fa-star"
        ></i
      ></label>
      <input type="radio" id="star1" />
      <label for="star2"
        ><i
          [ngStyle]="{ color: product.rating >= 4 ? '#F6B704' : '#9b9b9b' }"
          class="fa-solid fa-star"
        ></i
      ></label>
      <input type="radio" id="star2" />
      <label for="star3"
        ><i
          [ngStyle]="{ color: product.rating >= 6 ? '#F6B704' : '#9b9b9b' }"
          class="fa-solid fa-star"
        ></i
      ></label>
      <input type="radio" id="star3" />
      <label for="star4"
        ><i
          [ngStyle]="{ color: product.rating >= 8 ? '#F6B704' : '#9b9b9b' }"
          class="fa-solid fa-star"
        ></i
      ></label>
      <input type="radio" id="star4" />
      <label for="star5"
        ><i
          [ngStyle]="{ color: product.rating > 9 ? '#F6B704' : '#9b9b9b' }"
          class="fa-solid fa-star"
        ></i
      ></label>
      <input type="radio" id="star5" />
      ({{ getReviewLength(product) }})
    </div>
    <div class="price-flex">
      <div class="mrp">₹{{ product.mrp }}</div>
      <div class="price">₹{{ product.price }}</div>
      <div class="discount">
        -{{ (((product.mrp - product.price) / product.mrp) * 100).toFixed(0) }}%
        Discount
      </div>
    </div>
    <button
      *ngIf="!product.cart || product.cart.count == 0"
      type="button"
      (click)="onAddToCart()"
      class="product-button"
    >
      Add to cart
    </button>
    <div *ngIf="product.cart && product.cart.count > 0" class="cart-function">
      <button (click)="removeItem()">-</button>
      <div class="p">{{ product.cart.count.toString().padStart(2, "0") }}</div>
      <button (click)="addItem()">+</button>
    </div>
  </div>
</div>

<div class="review-box" *ngIf="product">
  <h1>{{ product.name }} reviews</h1>
  <div class="review-flex" *ngFor="let review of productReview">
    <div class="review-component">
      <img src="{{ review.image }}" class="review-image" />
      <div class="review-header">
        <h1>{{ review.name }}</h1>
        <div class="review-container">
          <label for="star1"
            ><i
              [ngStyle]="{ color: review.rating >= 2 ? '#F6B704' : '#fff' }"
              class="fa-solid fa-star"
            ></i
          ></label>
          <input type="radio" id="star1" />
          <label for="star2"
            ><i
              [ngStyle]="{ color: review.rating >= 4 ? '#F6B704' : '#fff' }"
              class="fa-solid fa-star"
            ></i
          ></label>
          <input type="radio" id="star2" />
          <label for="star3"
            ><i
              [ngStyle]="{ color: review.rating >= 6 ? '#F6B704' : '#fff' }"
              class="fa-solid fa-star"
            ></i
          ></label>
          <input type="radio" id="star3" />
          <label for="star4"
            ><i
              [ngStyle]="{ color: review.rating >= 8 ? '#F6B704' : '#fff' }"
              class="fa-solid fa-star"
            ></i
          ></label>
          <input type="radio" id="star4" />
          <label for="star5"
            ><i
              [ngStyle]="{ color: review.rating > 9 ? '#F6B704' : '#fff' }"
              class="fa-solid fa-star"
            ></i
          ></label>
          <input type="radio" id="star5" />
        </div>
      </div>
      <p class="review-description">"{{ review.description }}"</p>
    </div>
  </div>
</div>
