<div class="navigation-box">
  <div class="nav-col" *ngIf="isLogged" routerLink="/orders">
    <i class="icon fa-solid fa-truck-arrow-right"></i>
    <p class="icon-text">Orders</p>
  </div>
  <div class="nav-col" routerLink="/">
    <i class="icon fa-solid fa-house"></i>
    <p class="icon-text">Home</p>
  </div>

  <div class="nav-col" routerLink="/basket">
    <i class="icon fa-solid fa-bag-shopping"></i>
    <p class="icon-text">Basket</p>
    <div class="dot" *ngIf="cartCount > 0">{{ cartCount }}</div>
  </div>
  <div class="profile-cirlce">
    <img
      src="{{
        isLogged
          ? profilePic
          : 'https://www.kindpng.com/picc/b/645-6457649_png-portrait.png'
      }}"
      class="profile-picture"
      alt="profile-picture"
      (click)="onProfileClick()"
    />
  </div>
  <div
    class="profile-dropdown"
    [ngClass]="{ 'show-profile-dropdown': showProfileDropDown }"
  >
    <button
      *ngIf="isLogged"
      type="button"
      class="profile-dropdown-button"
      routerLink="/profile"
    >
      <i class="icon fa-solid fa-gear"></i>
      Profile
    </button>
    <button
      *ngIf="isLogged"
      type="button"
      class="profile-dropdown-button"
      (click)="onLogout()"
    >
      <i class="icon fa-solid fa-arrow-right-from-bracket"></i>
      Logout
    </button>
    <button
      *ngIf="!isLogged"
      type="button"
      class="profile-dropdown-button"
      (click)="onRegister()"
    >
      <i class="icon fa-solid fa-registered"></i>
      Register
    </button>
    <button
      *ngIf="!isLogged"
      type="button"
      class="profile-dropdown-button"
      (click)="onLogin()"
    >
      <i class="icon fa-solid fa-arrow-right-to-bracket"></i>
      Login
    </button>
  </div>
</div>
